n8n-workflows/1-lead-scraping-workflow.json
{
  "name": "DlaMedica - Pozyskiwanie leadów medycznych (Rozszerzony)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Co 12 godzin",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// KOMPLETNA LISTA PLACÓWEK MEDYCZNYCH W POLSCE\n// ============================================\n\nconst searchQueries = [\n  // ==========================================\n  // SZPITALE (wszystkie typy)\n  // ==========================================\n  'szpital kliniczny rekrutacja kontakt email',\n  'szpital powiatowy praca lekarz email',\n  'szpital wojewódzki zatrudni lekarza kontakt',\n  'szpital specjalistyczny rekrutacja HR',\n  'szpital miejski oferty pracy email',\n  'szpital uniwersytecki rekrutacja',\n  'szpital wojskowy praca lekarz',\n  'szpital MSWiA rekrutacja',\n  'szpital dziecięcy pediatra praca',\n  'szpital psychiatryczny zatrudni',\n  'szpital onkologiczny rekrutacja',\n  'szpital kardiologiczny praca lekarz',\n  'szpital ortopedyczny rekrutacja',\n  'szpital rehabilitacyjny praca',\n  'szpital zakaźny rekrutacja',\n  'szpital ginekologiczno-położniczy praca',\n  'szpital prywatny rekrutacja email',\n  'szpital uzdrowiskowy praca lekarz',\n  \n  // ==========================================\n  // KLINIKI\n  // ==========================================\n  'klinika prywatna rekrutacja lekarz email',\n  'klinika medyczna zatrudni specjalistę',\n  'klinika chirurgiczna praca email',\n  'klinika okulistyczna rekrutacja',\n  'klinika dermatologiczna zatrudni',\n  'klinika kardiologiczna praca lekarz',\n  'klinika neurologiczna rekrutacja',\n  'klinika ortopedyczna praca',\n  'klinika ginekologiczna zatrudni',\n  'klinika urologiczna rekrutacja',\n  'klinika onkologiczna praca',\n  'klinika leczenia niepłodności rekrutacja',\n  'klinika in vitro praca lekarz',\n  'klinika medycyny estetycznej zatrudni',\n  'klinika chirurgii plastycznej rekrutacja',\n  'klinika laseroterapii praca',\n  'klinika endokrynologiczna zatrudni',\n  'klinika diabetologiczna rekrutacja',\n  'klinika alergologiczna praca',\n  'klinika pulmonologiczna zatrudni',\n  \n  // ==========================================\n  // PRZYCHODNIE\n  // ==========================================\n  'przychodnia POZ rekrutacja lekarz email',\n  'przychodnia rodzinna zatrudni lekarza',\n  'przychodnia specjalistyczna praca',\n  'przychodnia rejonowa rekrutacja',\n  'przychodnia miejska praca lekarz email',\n  'przychodnia zdrowia rekrutacja',\n  'przychodnia sportowa lekarz praca',\n  'przychodnia dziecięca pediatra rekrutacja',\n  'NZOZ rekrutacja lekarz email',\n  'niepubliczny zakład opieki zdrowotnej praca',\n  \n  // ==========================================\n  // CENTRA MEDYCZNE\n  // ==========================================\n  'centrum medyczne rekrutacja email',\n  'centrum medyczne prywatne praca lekarz',\n  'centrum zdrowia zatrudni lekarza',\n  'centrum diagnostyczne rekrutacja',\n  'centrum onkologiczne praca lekarz',\n  'centrum kardiologiczne rekrutacja',\n  'centrum rehabilitacji praca fizjoterapeuta',\n  'centrum dializ rekrutacja pielęgniarka',\n  'centrum leczenia bólu praca',\n  'centrum medycyny pracy rekrutacja',\n  'centrum stomatologiczne praca dentysta',\n  'centrum okulistyczne rekrutacja',\n  'centrum ortopedyczne praca',\n  'centrum neurologiczne zatrudni',\n  'centrum dermatologiczne rekrutacja',\n  'centrum endoskopowe praca',\n  'centrum chirurgii jednego dnia rekrutacja',\n  'centrum szczepień praca pielęgniarka',\n  \n  // ==========================================\n  // GABINETY LEKARSKIE (wszystkie specjalizacje)\n  // ==========================================\n  'gabinet lekarski rekrutacja email',\n  'gabinet internistyczny praca lekarz',\n  'gabinet pediatryczny zatrudni',\n  'gabinet ginekologiczny praca',\n  'gabinet urologiczny rekrutacja',\n  'gabinet kardiologiczny zatrudni',\n  'gabinet neurologiczny praca',\n  'gabinet okulistyczny rekrutacja',\n  'gabinet laryngologiczny zatrudni',\n  'gabinet dermatologiczny praca',\n  'gabinet ortopedyczny rekrutacja',\n  'gabinet chirurgiczny zatrudni',\n  'gabinet psychiatryczny praca',\n  'gabinet psychologiczny rekrutacja',\n  'gabinet endokrynologiczny zatrudni',\n  'gabinet alergologiczny praca',\n  'gabinet pulmonologiczny rekrutacja',\n  'gabinet gastroenterologiczny zatrudni',\n  'gabinet reumatologiczny praca',\n  'gabinet nefrologiczny rekrutacja',\n  'gabinet hematologiczny zatrudni',\n  'gabinet onkologiczny praca',\n  'gabinet diabetologiczny rekrutacja',\n  'gabinet geriatryczny zatrudni',\n  'gabinet medycyny sportowej praca',\n  \n  // ==========================================\n  // STOMATOLOGIA\n  // ==========================================\n  'gabinet stomatologiczny rekrutacja dentysta email',\n  'klinika stomatologiczna praca',\n  'gabinet dentystyczny zatrudni',\n  'centrum stomatologii rekrutacja',\n  'ortodonta praca gabinet',\n  'periodontolog rekrutacja',\n  'endodonta praca gabinet',\n  'implantolog rekrutacja gabinet',\n  'protetyk stomatolog praca',\n  'chirurg stomatolog rekrutacja',\n  'stomatologia dziecięca praca',\n  'gabinet ortodontyczny rekrutacja',\n  'klinika implantologii zatrudni',\n  'gabinet protetyczny praca',\n  \n  // ==========================================\n  // APTEKI I FARMACJA\n  // ==========================================\n  'apteka rekrutacja farmaceuta email',\n  'apteka sieciowa praca farmaceuta',\n  'apteka prywatna zatrudni',\n  'apteka szpitalna rekrutacja',\n  'apteka całodobowa praca',\n  'punkt apteczny rekrutacja',\n  'hurtownia farmaceutyczna praca',\n  'firma farmaceutyczna rekrutacja',\n  'producent leków praca',\n  'dystrybutor farmaceutyczny rekrutacja',\n  'przedstawiciel medyczny praca',\n  'farmaceuta kliniczny rekrutacja',\n  'technik farmaceutyczny praca',\n  'DOZ apteka rekrutacja',\n  'Dr Max apteka praca',\n  'Gemini apteka rekrutacja',\n  'Dbam o Zdrowie praca',\n  'Super-Pharm rekrutacja',\n  'Ziko apteka praca',\n  \n  // ==========================================\n  // LABORATORIA\n  // ==========================================\n  'laboratorium diagnostyczne rekrutacja email',\n  'laboratorium analityczne praca',\n  'laboratorium medyczne zatrudni',\n  'punkt pobrań rekrutacja',\n  'diagnostyka laboratoryjna praca',\n  'ALAB laboratoria rekrutacja',\n  'Diagnostyka laboratorium praca',\n  'SYNEVO rekrutacja',\n  'laboratorium mikrobiologiczne praca',\n  'laboratorium genetyczne rekrutacja',\n  'laboratorium patomorfologiczne praca',\n  'laboratorium immunologiczne rekrutacja',\n  'laboratorium toksykologiczne praca',\n  'technik laboratoryjny rekrutacja',\n  'diagnosta laboratoryjny praca',\n  \n  // ==========================================\n  // DIAGNOSTYKA OBRAZOWA\n  // ==========================================\n  'pracownia RTG rekrutacja technik',\n  'pracownia tomografii komputerowej praca',\n  'pracownia rezonansu magnetycznego rekrutacja',\n  'pracownia USG praca',\n  'centrum diagnostyki obrazowej rekrutacja',\n  'radiolog praca oferty',\n  'technik elektroradiologii rekrutacja',\n  'pracownia mammograficzna praca',\n  'pracownia densytometryczna rekrutacja',\n  'pracownia scyntygraficzna praca',\n  'pracownia PET rekrutacja',\n  'pracownia angiograficzna praca',\n  \n  // ==========================================\n  // REHABILITACJA I FIZJOTERAPIA\n  // ==========================================\n  'gabinet fizjoterapii rekrutacja email',\n  'centrum rehabilitacji praca fizjoterapeuta',\n  'zakład rehabilitacji rekrutacja',\n  'ośrodek rehabilitacyjny praca',\n  'fizjoterapeuta praca oferty',\n  'masażysta leczniczy rekrutacja',\n  'rehabilitant praca',\n  'terapeuta zajęciowy rekrutacja',\n  'logopeda praca gabinet',\n  'gabinet masażu leczniczego rekrutacja',\n  'centrum fizjoterapii praca',\n  'rehabilitacja neurologiczna rekrutacja',\n  'rehabilitacja kardiologiczna praca',\n  'rehabilitacja ortopedyczna rekrutacja',\n  'rehabilitacja dzieci praca',\n  'rehabilitacja sportowa rekrutacja',\n  \n  // ==========================================\n  // OPIEKA DŁUGOTERMINOWA\n  // ==========================================\n  'dom opieki rekrutacja pielęgniarka email',\n  'dom seniora praca opiekun',\n  'dom spokojnej starości rekrutacja',\n  'ZOL zakład opiekuńczo-leczniczy praca',\n  'ZPO zakład pielęgnacyjno-opiekuńczy rekrutacja',\n  'DPS dom pomocy społecznej praca',\n  'opieka długoterminowa rekrutacja',\n  'hospicjum praca pielęgniarka',\n  'hospicjum domowe rekrutacja',\n  'opieka paliatywna praca lekarz',\n  'zakład geriatryczny rekrutacja',\n  'dom dziecka pielęgniarka praca',\n  'placówka opiekuńcza rekrutacja',\n  \n  // ==========================================\n  // SANATORIA I UZDROWISKA\n  // ==========================================\n  'sanatorium rekrutacja lekarz email',\n  'uzdrowisko praca',\n  'ośrodek sanatoryjny rekrutacja',\n  'zakład przyrodoleczniczy praca',\n  'sanatorium rehabilitacyjne rekrutacja',\n  'uzdrowisko Ciechocinek praca',\n  'uzdrowisko Krynica rekrutacja',\n  'uzdrowisko Busko praca',\n  'uzdrowisko Nałęczów rekrutacja',\n  'uzdrowisko Iwonicz praca',\n  'uzdrowisko Kołobrzeg rekrutacja',\n  'sanatorium kardiologiczne praca',\n  'sanatorium pulmonologiczne rekrutacja',\n  'sanatorium ortopedyczne praca',\n  \n  // ==========================================\n  // RATOWNICTWO MEDYCZNE\n  // ==========================================\n  'pogotowie ratunkowe rekrutacja email',\n  'stacja pogotowia praca ratownik',\n  'zespół ratownictwa medycznego rekrutacja',\n  'ratownik medyczny praca',\n  'SOR szpitalny oddział ratunkowy rekrutacja',\n  'izba przyjęć praca',\n  'karetka pogotowia rekrutacja',\n  'dyspozytor medyczny praca',\n  'HEMS śmigłowcowa służba ratownicza rekrutacja',\n  'LPR lotnicze pogotowie ratunkowe praca',\n  \n  // ==========================================\n  // PIELĘGNIARSTWO\n  // ==========================================\n  'pielęgniarka praca oferty email',\n  'pielęgniarka środowiskowa rekrutacja',\n  'pielęgniarka POZ praca',\n  'pielęgniarka szkolna rekrutacja',\n  'pielęgniarka operacyjna praca',\n  'pielęgniarka anestezjologiczna rekrutacja',\n  'pielęgniarka pediatryczna praca',\n  'pielęgniarka onkologiczna rekrutacja',\n  'pielęgniarka psychiatryczna praca',\n  'pielęgniarka opieki długoterminowej rekrutacja',\n  'położna praca oferty',\n  'położna środowiskowa rekrutacja',\n  'pielęgniarka diabetologiczna praca',\n  'pielęgniarka kardiologiczna rekrutacja',\n  \n  // ==========================================\n  // ZDROWIE PSYCHICZNE\n  // ==========================================\n  'poradnia zdrowia psychicznego rekrutacja email',\n  'szpital psychiatryczny praca',\n  'oddział psychiatryczny rekrutacja',\n  'centrum zdrowia psychicznego praca',\n  'gabinet psychiatryczny rekrutacja',\n  'gabinet psychologiczny praca',\n  'gabinet psychoterapeutyczny rekrutacja',\n  'poradnia uzależnień praca',\n  'ośrodek leczenia uzależnień rekrutacja',\n  'MONAR rekrutacja praca',\n  'psycholog kliniczny praca',\n  'psychoterapeuta rekrutacja',\n  'terapeuta uzależnień praca',\n  'psychiatra dziecięcy rekrutacja',\n  'poradnia psychologiczno-pedagogiczna praca',\n  \n  // ==========================================\n  // KRWIODAWSTWO I TRANSPLANTOLOGIA\n  // ==========================================\n  'regionalne centrum krwiodawstwa rekrutacja email',\n  'stacja krwiodawstwa praca',\n  'bank krwi rekrutacja',\n  'centrum transplantologii praca',\n  'poltransplant rekrutacja',\n  'bank tkanek praca',\n  'bank mleka kobiecego rekrutacja',\n  \n  // ==========================================\n  // MEDYCYNA PRACY\n  // ==========================================\n  'przychodnia medycyny pracy rekrutacja email',\n  'centrum medycyny pracy praca lekarz',\n  'lekarz medycyny pracy rekrutacja',\n  'badania pracownicze gabinet praca',\n  'WOMP wojewódzki ośrodek medycyny pracy rekrutacja',\n  'zakładowa służba zdrowia praca',\n  'BHP i medycyna pracy rekrutacja',\n  \n  // ==========================================\n  // INSTYTUTY I CENTRA NAUKOWE\n  // ==========================================\n  'instytut medyczny rekrutacja email',\n  'instytut onkologii praca',\n  'instytut kardiologii rekrutacja',\n  'instytut pediatrii praca',\n  'instytut matki i dziecka rekrutacja',\n  'instytut gruźlicy praca',\n  'instytut psychiatrii rekrutacja',\n  'instytut reumatologii praca',\n  'centrum onkologii rekrutacja',\n  'centrum zdrowia dziecka praca',\n  'narodowy instytut zdrowia publicznego rekrutacja',\n  \n  // ==========================================\n  // PRODUCENCI SPRZĘTU MEDYCZNEGO\n  // ==========================================\n  'producent sprzętu medycznego rekrutacja email',\n  'firma wyrobów medycznych praca',\n  'dystrybutor sprzętu medycznego rekrutacja',\n  'serwis sprzętu medycznego praca',\n  'implanty medyczne firma rekrutacja',\n  'sprzęt ortopedyczny producent praca',\n  'aparatura medyczna firma rekrutacja',\n  \n  // ==========================================\n  // SIECI MEDYCZNE (DUŻE FIRMY)\n  // ==========================================\n  'LUX MED rekrutacja email',\n  'MEDICOVER praca lekarz',\n  'ENEL-MED rekrutacja',\n  'POLMED praca',\n  'CENTRUM MEDYCZNE DAMIANA rekrutacja',\n  'SWISSMED praca',\n  'SCANMED rekrutacja',\n  'MEDICOM praca',\n  'MEDYK rekrutacja',\n  'ALFAMEDICA praca',\n  'MEDICA rekrutacja',\n  'SALVE praca medyk',\n  'CAROLINA medical center rekrutacja',\n  'MEDICUS praca',\n  \n  // ==========================================\n  // WETERYNARIA (też zawód medyczny)\n  // ==========================================\n  'klinika weterynaryjna rekrutacja email',\n  'gabinet weterynaryjny praca',\n  'lecznica dla zwierząt rekrutacja',\n  'weterynarz praca oferty',\n  'technik weterynarii rekrutacja',\n  'przychodnia weterynaryjna praca',\n  \n  // ==========================================\n  // INNE PLACÓWKI\n  // ==========================================\n  'żłobek pielęgniarka rekrutacja email',\n  'przedszkole pielęgniarka praca',\n  'szkoła pielęgniarka rekrutacja',\n  'uczelnia medyczna praca',\n  'uniwersytet medyczny rekrutacja',\n  'szkoła policealna medyczna praca',\n  'fundacja medyczna rekrutacja',\n  'NGO zdrowie praca',\n  'WOŚP rekrutacja',\n  'PCK polski czerwony krzyż praca',\n  'Caritas medyk rekrutacja',\n  'misje medyczne praca',\n  'lekarze bez granic rekrutacja',\n  'telemedycyna praca lekarz',\n  'telemedicyna firma rekrutacja',\n  'e-zdrowie startup praca',\n  'healthtech firma rekrutacja'\n];\n\n// Losowo wybierz 15 zapytań na tę sesję (zwiększone z 5)\nconst shuffled = searchQueries.sort(() => 0.5 - Math.random());\nconst selectedQueries = shuffled.slice(0, 15);\n\nconsole.log(`Wybrano ${selectedQueries.length} zapytań z ${searchQueries.length} dostępnych`);\n\nreturn selectedQueries.map(query => ({ searchQuery: query }));"
      },
      "id": "generate-queries",
      "name": "Generuj zapytania",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "https://www.google.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "num",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "google-search",
      "name": "Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parsowanie wyników wyszukiwania i ekstrakcja danych kontaktowych\nconst html = $input.first().json.data || '';\nconst searchQuery = $input.first().json.searchQuery || '';\n\n// Regex patterns dla emaili i telefonów\nconst emailPattern = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst phonePattern = /(?:\\+48)?\\s?\\d{3}[\\s-]?\\d{3}[\\s-]?\\d{3}/g;\nconst websitePattern = /https?:\\/\\/[^\\s\"<>]+\\.pl[^\\s\"<>]*/g;\n\nconst emails = [...new Set(html.match(emailPattern) || [])];\nconst phones = [...new Set(html.match(phonePattern) || [])];\nconst websites = [...new Set(html.match(websitePattern) || [])];\n\n// Filtruj emaile - usuń generyczne i niepożądane\nconst genericDomains = [\n  'gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', \n  'wp.pl', 'onet.pl', 'interia.pl', 'o2.pl', 'tlen.pl',\n  'gazeta.pl', 'poczta.fm', 'op.pl', 'go2.pl',\n  'google.com', 'facebook.com', 'twitter.com',\n  'example.com', 'test.com'\n];\n\nconst filteredEmails = emails.filter(email => {\n  const domain = email.split('@')[1].toLowerCase();\n  return !genericDomains.includes(domain) && \n         !email.includes('noreply') && \n         !email.includes('no-reply') &&\n         !email.includes('unsubscribe');\n});\n\n// Wykryj typ placówki na podstawie zapytania\nlet facilityType = 'placówka medyczna';\nconst queryLower = searchQuery.toLowerCase();\n\nif (queryLower.includes('szpital')) facilityType = 'szpital';\nelse if (queryLower.includes('klinik')) facilityType = 'klinika';\nelse if (queryLower.includes('przychod')) facilityType = 'przychodnia';\nelse if (queryLower.includes('apteka') || queryLower.includes('farmac')) facilityType = 'apteka/farmacja';\nelse if (queryLower.includes('laborator')) facilityType = 'laboratorium';\nelse if (queryLower.includes('stomatolog') || queryLower.includes('dent')) facilityType = 'gabinet stomatologiczny';\nelse if (queryLower.includes('fizjotera') || queryLower.includes('rehabil')) facilityType = 'centrum rehabilitacji';\nelse if (queryLower.includes('gabinet')) facilityType = 'gabinet lekarski';\nelse if (queryLower.includes('centrum')) facilityType = 'centrum medyczne';\nelse if (queryLower.includes('hospic') || queryLower.includes('paliat')) facilityType = 'hospicjum';\nelse if (queryLower.includes('sanator') || queryLower.includes('uzdrow')) facilityType = 'sanatorium/uzdrowisko';\nelse if (queryLower.includes('dom opieki') || queryLower.includes('senior') || queryLower.includes('ZOL') || queryLower.includes('ZPO') || queryLower.includes('DPS')) facilityType = 'dom opieki';\nelse if (queryLower.includes('pogotow') || queryLower.includes('ratunk') || queryLower.includes('SOR')) facilityType = 'ratownictwo medyczne';\nelse if (queryLower.includes('pielęgn')) facilityType = 'opieka pielęgniarska';\nelse if (queryLower.includes('psych')) facilityType = 'zdrowie psychiczne';\nelse if (queryLower.includes('krwi') || queryLower.includes('transpl')) facilityType = 'krwiodawstwo';\nelse if (queryLower.includes('medycyn pracy') || queryLower.includes('WOMP')) facilityType = 'medycyna pracy';\nelse if (queryLower.includes('instytut')) facilityType = 'instytut medyczny';\nelse if (queryLower.includes('weterynar')) facilityType = 'weterynaria';\nelse if (queryLower.includes('LUX MED') || queryLower.includes('MEDICOVER') || queryLower.includes('ENEL')) facilityType = 'sieć medyczna';\n\nreturn filteredEmails.map(email => ({\n  email: email,\n  phones: phones.slice(0, 3).join(', '),\n  websites: websites.slice(0, 3).join(', '),\n  source: 'google_search',\n  sourceQuery: searchQuery,\n  facilityType: facilityType,\n  foundAt: new Date().toISOString(),\n  status: 'new'\n}));"
      },
      "id": "parse-results",
      "name": "Parsuj wyniki",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filtruj poprawne",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (email, phones, websites, source, source_query, facility_type, found_at, status) VALUES ('{{ $json.email }}', '{{ $json.phones }}', '{{ $json.websites }}', '{{ $json.source }}', '{{ $json.sourceQuery }}', '{{ $json.facilityType }}', '{{ $json.foundAt }}', '{{ $json.status }}') ON CONFLICT (email) DO UPDATE SET facility_type = EXCLUDED.facility_type, updated_at = NOW() RETURNING *;",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Zapisz do bazy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1100, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Podsumowanie scrapingu\nconst items = $input.all();\nconst uniqueEmails = [...new Set(items.map(i => i.json.email))];\nconst facilityTypes = {};\n\nitems.forEach(item => {\n  const type = item.json.facilityType || 'inne';\n  facilityTypes[type] = (facilityTypes[type] || 0) + 1;\n});\n\nconsole.log('=== PODSUMOWANIE SCRAPINGU ===');\nconsole.log(`Znaleziono: ${uniqueEmails.length} unikalnych emaili`);\nconsole.log('Według typu placówki:');\nObject.entries(facilityTypes).forEach(([type, count]) => {\n  console.log(`  - ${type}: ${count}`);\n});\n\nreturn [{\n  totalFound: uniqueEmails.length,\n  byFacilityType: facilityTypes,\n  timestamp: new Date().toISOString()\n}];"
      },
      "id": "summary",
      "name": "Podsumowanie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Co 12 godzin": {
      "main": [
        [
          {
            "node": "Generuj zapytania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generuj zapytania": {
      "main": [
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "Parsuj wyniki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsuj wyniki": {
      "main": [
        [
          {
            "node": "Filtruj poprawne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtruj poprawne": {
      "main": [
        [
          {
            "node": "Zapisz do bazy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapisz do bazy": {
      "main": [
        [
          {
            "node": "Podsumowanie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["leads", "scraping", "medyczne", "rozszerzony"]
}
