n8n-workflows/2-cold-email-campaign-workflow.json
{
  "name": "DlaMedica - Kampania Cold Email (Rozszerzona personalizacja)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Co 4 godziny",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE status = 'new' AND email_sent = false ORDER BY found_at ASC LIMIT 10;",
        "options": {}
      },
      "id": "get-new-leads",
      "name": "Pobierz nowe leady",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ZAAWANSOWANA PERSONALIZACJA EMAILA\n// ============================================\n\nconst lead = $input.first().json;\nconst facilityType = lead.facility_type || 'placówka medyczna';\nconst email = (lead.email || '').toLowerCase();\nconst websites = (lead.websites || '').toLowerCase();\n\n// Mapowanie typu placówki na personalizację\nconst personalizationMap = {\n  // SZPITALE\n  'szpital': {\n    greeting: 'Szanowni Państwo',\n    intro: 'jako szpital z pewnością stale poszukujecie wykwalifikowanego personelu medycznego',\n    targetAudience: 'lekarzy różnych specjalizacji, pielęgniarki, ratowników medycznych i innych specjalistów',\n    benefits: ['Dostęp do bazy 15 000+ studentów medycyny i młodych lekarzy', 'Ogłoszenia widoczne dla wszystkich specjalizacji', 'Powiadomienia push do kandydatów w Waszym regionie'],\n    cta: 'Zacznijcie rekrutować już dziś'\n  },\n  \n  // KLINIKI\n  'klinika': {\n    greeting: 'Szanowni Państwo',\n    intro: 'jako klinika specjalistyczna doskonale wiecie, jak trudno znaleźć dobrych specjalistów',\n    targetAudience: 'lekarzy specjalistów, rezydentów i młodych lekarzy poszukujących rozwoju',\n    benefits: ['Targetowanie według specjalizacji', 'Profil kliniki z opisem i zdjęciami', 'Bezpośredni kontakt z kandydatami'],\n    cta: 'Znajdźcie idealnego specjalistę'\n  },\n  \n  // PRZYCHODNIE\n  'przychodnia': {\n    greeting: 'Dzień dobry',\n    intro: 'przychodnie POZ są fundamentem systemu opieki zdrowotnej, a znajdowanie dobrych lekarzy rodzinnych bywa wyzwaniem',\n    targetAudience: 'lekarzy POZ, pediatrów, internistów i pielęgniarki środowiskowe',\n    benefits: ['Lokalni kandydaci z Waszego regionu', 'Lekarze szukający stabilnej pracy', 'Szybki proces rekrutacji'],\n    cta: 'Wzmocnijcie swój zespół'\n  },\n  \n  // APTEKI\n  'apteka/farmacja': {\n    greeting: 'Dzień dobry',\n    intro: 'branża farmaceutyczna wymaga wykwalifikowanych specjalistów, a znalezienie dobrego farmaceuty nie jest łatwe',\n    targetAudience: 'farmaceutów, techników farmaceutycznych i studentów farmacji',\n    benefits: ['Dedykowana sekcja dla farmaceutów', 'Studenci farmacji szukający praktyk', 'Ogłoszenia dla całej sieci aptek'],\n    cta: 'Znajdźcie farmaceutów dla swoich aptek'\n  },\n  \n  // LABORATORIA\n  'laboratorium': {\n    greeting: 'Szanowni Państwo',\n    intro: 'diagnostyka laboratoryjna wymaga precyzji i wykwalifikowanych specjalistów',\n    targetAudience: 'diagnostów laboratoryjnych, techników i specjalistów analityki',\n    benefits: ['Kandydaci z kierunków analityki medycznej', 'Doświadczeni diagności', 'Technicy laboratoryjni'],\n    cta: 'Rozbudujcie swój zespół diagnostyczny'\n  },\n  \n  // STOMATOLOGIA\n  'gabinet stomatologiczny': {\n    greeting: 'Dzień dobry',\n    intro: 'stomatologia to dynamicznie rozwijająca się branża, gdzie dobry zespół to klucz do sukcesu',\n    targetAudience: 'dentystów, ortodontów, higienistek i asystentek stomatologicznych',\n    benefits: ['Studenci stomatologii szukający praktyk', 'Specjaliści różnych dziedzin stomatologii', 'Asystentki i higienistki'],\n    cta: 'Powiększcie swój gabinet o nowych specjalistów'\n  },\n  \n  // REHABILITACJA\n  'centrum rehabilitacji': {\n    greeting: 'Dzień dobry',\n    intro: 'rehabilitacja wymaga nie tylko sprzętu, ale przede wszystkim wykwalifikowanych terapeutów',\n    targetAudience: 'fizjoterapeutów, rehabilitantów, terapeutów zajęciowych i masażystów',\n    benefits: ['Absolwenci fizjoterapii', 'Doświadczeni rehabilitanci', 'Specjaliści różnych technik terapeutycznych'],\n    cta: 'Znajdźcie najlepszych fizjoterapeutów'\n  },\n  \n  // GABINETY LEKARSKIE\n  'gabinet lekarski': {\n    greeting: 'Dzień dobry',\n    intro: 'prowadzenie gabinetu lekarskiego wymaga nie tylko wiedzy medycznej, ale też dobrego zespołu',\n    targetAudience: 'lekarzy, pielęgniarki i personel pomocniczy',\n    benefits: ['Młodzi lekarze szukający pierwszej pracy', 'Specjaliści chcący pracować w kameralnym środowisku', 'Elastyczne formy współpracy'],\n    cta: 'Rozwijajcie swój gabinet'\n  },\n  \n  // CENTRA MEDYCZNE\n  'centrum medyczne': {\n    greeting: 'Szanowni Państwo',\n    intro: 'centra medyczne oferują szeroki wachlarz usług, co wymaga zróżnicowanego zespołu specjalistów',\n    targetAudience: 'lekarzy wszystkich specjalizacji, pielęgniarki, diagnostów i personel administracyjny',\n    benefits: ['Kandydaci do różnych działów', 'Kompleksowa rekrutacja w jednym miejscu', 'Panel do zarządzania wieloma ogłoszeniami'],\n    cta: 'Rekrutujcie do wszystkich działów'\n  },\n  \n  // HOSPICJA\n  'hospicjum': {\n    greeting: 'Szanowni Państwo',\n    intro: 'opieka paliatywna wymaga szczególnego podejścia i oddanych specjalistów',\n    targetAudience: 'lekarzy medycyny paliatywnej, pielęgniarki hospicyjne, psychologów i wolontariuszy',\n    benefits: ['Osoby z powołaniem do opieki paliatywnej', 'Specjaliści w leczeniu bólu', 'Wsparcie psychologiczne dla zespołu'],\n    cta: 'Budujcie zespół z powołaniem'\n  },\n  \n  // SANATORIA\n  'sanatorium/uzdrowisko': {\n    greeting: 'Dzień dobry',\n    intro: 'uzdrowiska i sanatoria to miejsca, gdzie zdrowie pacjentów zależy od profesjonalnej kadry',\n    targetAudience: 'lekarzy balneologów, fizjoterapeutów, dietetyków i pielęgniarki',\n    benefits: ['Specjaliści rehabilitacji uzdrowiskowej', 'Młodzi lekarze chcący pracować w spokojnym otoczeniu', 'Sezonowe i całoroczne zatrudnienie'],\n    cta: 'Kompletujcie kadrę na nowy sezon'\n  },\n  \n  // DOM OPIEKI\n  'dom opieki': {\n    greeting: 'Dzień dobry',\n    intro: 'opieka nad seniorami to jedno z najważniejszych wyzwań współczesnej medycyny',\n    targetAudience: 'pielęgniarki geriatryczne, opiekunów medycznych, fizjoterapeutów i lekarzy geriatrów',\n    benefits: ['Specjaliści w opiece długoterminowej', 'Opiekunowie z certyfikatami', 'Pielęgniarki doświadczone w geriatrii'],\n    cta: 'Zapewnijcie najlepszą opiekę podopiecznym'\n  },\n  \n  // RATOWNICTWO\n  'ratownictwo medyczne': {\n    greeting: 'Szanowni Państwo',\n    intro: 'ratownictwo medyczne wymaga szybkich reakcji i doskonale przygotowanej kadry',\n    targetAudience: 'ratowników medycznych, pielęgniarki ratunkowe, lekarzy medycyny ratunkowej i dyspozytorów',\n    benefits: ['Absolwenci ratownictwa medycznego', 'Doświadczeni ratownicy', 'Lekarze SOR'],\n    cta: 'Wzmocnijcie swoje zespoły ratunkowe'\n  },\n  \n  // PIELĘGNIARSTWO\n  'opieka pielęgniarska': {\n    greeting: 'Dzień dobry',\n    intro: 'pielęgniarki są kręgosłupem systemu ochrony zdrowia i zawsze są poszukiwane',\n    targetAudience: 'pielęgniarki wszystkich specjalizacji, położne i opiekunów medycznych',\n    benefits: ['Duża baza pielęgniarek', 'Różne specjalizacje pielęgniarskie', 'Elastyczne formy zatrudnienia'],\n    cta: 'Znajdźcie pielęgniarki do swojego zespołu'\n  },\n  \n  // ZDROWIE PSYCHICZNE\n  'zdrowie psychiczne': {\n    greeting: 'Szanowni Państwo',\n    intro: 'zdrowie psychiczne zyskuje na znaczeniu, a zapotrzebowanie na specjalistów stale rośnie',\n    targetAudience: 'psychiatrów, psychologów, psychoterapeutów i terapeutów uzależnień',\n    benefits: ['Młodzi psychiatrzy po specjalizacji', 'Psycholodzy kliniczni', 'Certyfikowani psychoterapeuci'],\n    cta: 'Rozbudujcie swój zespół terapeutyczny'\n  },\n  \n  // KRWIODAWSTWO\n  'krwiodawstwo': {\n    greeting: 'Szanowni Państwo',\n    intro: 'centra krwiodawstwa i transplantologii wykonują kluczową pracę dla ratowania życia',\n    targetAudience: 'lekarzy hematologów, pielęgniarki, techników laboratoryjnych i koordynatorów',\n    benefits: ['Specjaliści hematologii', 'Doświadczony personel laboratoriów', 'Koordynatorzy pobierania'],\n    cta: 'Znajdźcie specjalistów do swojego centrum'\n  },\n  \n  // MEDYCYNA PRACY\n  'medycyna pracy': {\n    greeting: 'Dzień dobry',\n    intro: 'medycyna pracy to stabilna dziedzina z regularnym zapotrzebowaniem na specjalistów',\n    targetAudience: 'lekarzy medycyny pracy, pielęgniarki i personel administracyjny',\n    benefits: ['Lekarze z uprawnieniami medycyny pracy', 'Stabilne zatrudnienie dla kandydatów', 'Regularne godziny pracy'],\n    cta: 'Poszerzcie zespół o lekarzy medycyny pracy'\n  },\n  \n  // SŁUŻBY MUNDUROWE\n  'służby mundurowe': {\n    greeting: 'Szanowni Państwo',\n    intro: 'służba zdrowia w formacjach mundurowych wymaga szczególnych kwalifikacji i zaangażowania',\n    targetAudience: 'lekarzy, pielęgniarki, ratowników i personel medyczny gotowy do służby',\n    benefits: ['Kandydaci zainteresowani służbą mundurową', 'Lekarze gotowi na wyzwania', 'Stabilne zatrudnienie państwowe'],\n    cta: 'Rekrutujcie do służby zdrowia'\n  },\n  \n  // INSTYTUTY\n  'instytut medyczny': {\n    greeting: 'Szanowni Państwo',\n    intro: 'instytuty medyczne łączą pracę kliniczną z naukową, przyciągając ambitnych specjalistów',\n    targetAudience: 'lekarzy naukowców, rezydentów, doktorantów i badaczy',\n    benefits: ['Młodzi lekarze z ambicjami naukowymi', 'Rezydenci szukający specjalizacji', 'Możliwość prowadzenia badań'],\n    cta: 'Znajdźcie przyszłych naukowców'\n  },\n  \n  // WETERYNARIA\n  'weterynaria': {\n    greeting: 'Dzień dobry',\n    intro: 'weterynaria to pasja połączona z profesją, a dobrzy weterynarze są na wagę złota',\n    targetAudience: 'weterynarzy, techników weterynarii i asystentów',\n    benefits: ['Studenci i absolwenci weterynarii', 'Specjaliści różnych dziedzin', 'Personel pomocniczy'],\n    cta: 'Rozwijajcie swoją lecznicę'\n  },\n  \n  // SIECI MEDYCZNE\n  'sieć medyczna': {\n    greeting: 'Szanowni Państwo',\n    intro: 'duże sieci medyczne potrzebują ciągłego napływu nowych specjalistów',\n    targetAudience: 'lekarzy wszystkich specjalizacji, pielęgniarki, diagnostów i menedżerów',\n    benefits: ['Masowa rekrutacja', 'Ogłoszenia dla wielu lokalizacji', 'Panel do zarządzania HR'],\n    cta: 'Skalujcie swoją rekrutację'\n  },\n  \n  // DEFAULT\n  'placówka medyczna': {\n    greeting: 'Dzień dobry',\n    intro: 'jako placówka medyczna z pewnością znacie wyzwania związane z rekrutacją kadry',\n    targetAudience: 'lekarzy, pielęgniarki i innych specjalistów medycznych',\n    benefits: ['Baza 15 000+ użytkowników medycznych', 'Darmowe podstawowe ogłoszenia', 'Prosty panel zarządzania'],\n    cta: 'Zacznijcie rekrutować'\n  }\n};\n\n// Pobierz personalizację dla danego typu\nconst personalization = personalizationMap[facilityType] || personalizationMap['placówka medyczna'];\n\n// Generuj różne warianty tematów (A/B testing)\nconst subjects = [\n  `${personalization.greeting} - darmowa publikacja ofert pracy dla ${facilityType}`,\n  `Rekrutacja do ${facilityType} - 15 000+ kandydatów czeka`,\n  `Brakuje Wam kadry? Mamy rozwiązanie dla ${facilityType}`,\n  `Bezpłatne ogłoszenia o pracę - specjalnie dla ${facilityType}`\n];\n\nconst selectedSubject = subjects[Math.floor(Math.random() * subjects.length)];\n\nreturn [{\n  ...lead,\n  facilityType: facilityType,\n  emailSubject: selectedSubject,\n  personalization: personalization\n}];"
      },
      "id": "personalize-email",
      "name": "Personalizuj email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "fromEmail": "kontakt@dlamedica.pl",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.7; color: #333; margin: 0; padding: 0; background: #f5f5f5; }\n    .container { max-width: 650px; margin: 0 auto; background: white; }\n    .header { background: linear-gradient(135deg, #38b6ff 0%, #0099e5 100%); padding: 30px; text-align: center; }\n    .header h1 { color: white; margin: 0; font-size: 28px; font-weight: 600; }\n    .header p { color: rgba(255,255,255,0.9); margin: 8px 0 0; font-size: 14px; }\n    .content { padding: 35px; }\n    .highlight-box { background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%); padding: 25px; border-radius: 12px; margin: 25px 0; border-left: 4px solid #38b6ff; }\n    .benefits-grid { display: grid; gap: 15px; margin: 25px 0; }\n    .benefit-item { display: flex; align-items: flex-start; padding: 15px; background: #f8f9fa; border-radius: 8px; }\n    .benefit-icon { width: 24px; height: 24px; background: #38b6ff; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-right: 15px; flex-shrink: 0; }\n    .benefit-icon svg { width: 14px; height: 14px; fill: white; }\n    .stats-row { display: flex; justify-content: space-around; text-align: center; margin: 30px 0; padding: 25px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }\n    .stat { flex: 1; }\n    .stat-number { font-size: 32px; font-weight: 700; color: #38b6ff; display: block; }\n    .stat-label { font-size: 13px; color: #666; margin-top: 5px; }\n    .cta-section { text-align: center; padding: 30px 0; }\n    .cta-button { display: inline-block; background: linear-gradient(135deg, #38b6ff 0%, #0099e5 100%); color: white; padding: 16px 40px; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 16px; box-shadow: 0 4px 15px rgba(56,182,255,0.3); }\n    .cta-button:hover { background: linear-gradient(135deg, #0099e5 0%, #0077b6 100%); }\n    .secondary-cta { display: block; margin-top: 15px; color: #38b6ff; text-decoration: none; font-size: 14px; }\n    .footer { background: #f8f9fa; padding: 25px; text-align: center; font-size: 12px; color: #666; }\n    .footer a { color: #38b6ff; text-decoration: none; }\n    .social-links { margin: 15px 0; }\n    .social-links a { display: inline-block; margin: 0 8px; color: #38b6ff; }\n    @media (max-width: 600px) {\n      .stats-row { flex-direction: column; gap: 20px; }\n      .content { padding: 25px 20px; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>DlaMedica.pl</h1>\n      <p>Platforma rekrutacyjna dla branży medycznej</p>\n    </div>\n    \n    <div class=\"content\">\n      <p><strong>{{ $json.personalization.greeting }},</strong></p>\n      \n      <p>Piszę do Państwa z platformy <strong>DlaMedica.pl</strong> - {{ $json.personalization.intro }}.</p>\n      \n      <p>Nasza platforma skupia <strong>{{ $json.personalization.targetAudience }}</strong>, którzy aktywnie szukają nowych możliwości zawodowych.</p>\n      \n      <div class=\"stats-row\">\n        <div class=\"stat\">\n          <span class=\"stat-number\">15 000+</span>\n          <span class=\"stat-label\">Aktywnych użytkowników</span>\n        </div>\n        <div class=\"stat\">\n          <span class=\"stat-number\">85%</span>\n          <span class=\"stat-label\">Profesjonaliści medyczni</span>\n        </div>\n        <div class=\"stat\">\n          <span class=\"stat-number\">100%</span>\n          <span class=\"stat-label\">Darmowe podstawowe ogłoszenia</span>\n        </div>\n      </div>\n      \n      <div class=\"highlight-box\">\n        <h3 style=\"margin-top: 0; color: #333;\">Co oferujemy dla {{ $json.facilityType }}:</h3>\n        <div class=\"benefits-grid\">\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\"><svg viewBox=\"0 0 24 24\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg></div>\n            <div>{{ $json.personalization.benefits[0] }}</div>\n          </div>\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\"><svg viewBox=\"0 0 24 24\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg></div>\n            <div>{{ $json.personalization.benefits[1] }}</div>\n          </div>\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\"><svg viewBox=\"0 0 24 24\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg></div>\n            <div>{{ $json.personalization.benefits[2] }}</div>\n          </div>\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\"><svg viewBox=\"0 0 24 24\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg></div>\n            <div>Intuicyjny panel pracodawcy do zarządzania ogłoszeniami</div>\n          </div>\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\"><svg viewBox=\"0 0 24 24\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg></div>\n            <div>Statystyki wyświetleń i aplikacji w czasie rzeczywistym</div>\n          </div>\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\"><svg viewBox=\"0 0 24 24\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg></div>\n            <div>Powiadomienia email o nowych aplikacjach</div>\n          </div>\n        </div>\n      </div>\n      \n      <div class=\"cta-section\">\n        <a href=\"https://dlamedica.pl/register?type=employer&ref=cold_email&facility={{ encodeURIComponent($json.facilityType) }}\" class=\"cta-button\">{{ $json.personalization.cta }}</a>\n        <a href=\"https://dlamedica.pl/praca\" class=\"secondary-cta\">Zobacz aktualne oferty pracy na platformie →</a>\n      </div>\n      \n      <p>Czy mogę umówić się na krótką rozmowę telefoniczną, aby omówić jak możemy pomóc w rekrutacji?</p>\n      \n      <p>Z poważaniem,<br>\n      <strong>Zespół DlaMedica.pl</strong><br>\n      <span style=\"color: #666;\">kontakt@dlamedica.pl</span></p>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>DlaMedica.pl</strong> - Twoja droga do kariery w medycynie</p>\n      <div class=\"social-links\">\n        <a href=\"https://facebook.com/dlamedica\">Facebook</a> |\n        <a href=\"https://linkedin.com/company/dlamedica\">LinkedIn</a> |\n        <a href=\"https://instagram.com/dlamedica\">Instagram</a>\n      </div>\n      <p style=\"margin-top: 15px;\"><a href=\"https://dlamedica.pl/unsubscribe?email={{ $json.email }}\">Wypisz się z listy mailingowej</a></p>\n      <p style=\"color: #999; font-size: 11px;\">Ta wiadomość została wysłana do {{ $json.email }}. Jeśli nie chcesz otrzymywać takich wiadomości, kliknij link wyżej.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "replyTo": "kontakt@dlamedica.pl"
        }
      },
      "id": "send-email",
      "name": "Wyślij email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 0],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "DlaMedica SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET email_sent = true, email_sent_at = NOW(), status = 'contacted', email_subject = '{{ $json.emailSubject }}' WHERE email = '{{ $json.email }}';",
        "options": {}
      },
      "id": "update-status",
      "name": "Aktualizuj status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "split-batch",
      "name": "Wysyłaj pojedynczo",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [220, 200]
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "wait-between",
      "name": "Czekaj 45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Logowanie wysyłki do konsoli (zamiast Slack)\nconst item = $input.first().json;\n\nconsole.log('=== EMAIL WYSŁANY ===');\nconsole.log(`Do: ${item.email}`);\nconsole.log(`Typ placówki: ${item.facilityType}`);\nconsole.log(`Temat: ${item.emailSubject}`);\nconsole.log(`Czas: ${new Date().toISOString()}`);\nconsole.log('=====================');\n\nreturn [item];"
      },
      "id": "log-sent",
      "name": "Loguj wysłanie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Co 4 godziny": {
      "main": [
        [
          {
            "node": "Pobierz nowe leady",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz nowe leady": {
      "main": [
        [
          {
            "node": "Wysyłaj pojedynczo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wysyłaj pojedynczo": {
      "main": [
        [
          {
            "node": "Personalizuj email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalizuj email": {
      "main": [
        [
          {
            "node": "Wyślij email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyślij email": {
      "main": [
        [
          {
            "node": "Aktualizuj status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aktualizuj status": {
      "main": [
        [
          {
            "node": "Czekaj 45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czekaj 45s": {
      "main": [
        [
          {
            "node": "Loguj wysłanie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["email", "campaign", "outreach", "personalizacja"]
}
