n8n-workflows/3-followup-sequence-workflow.json
{
  "name": "DlaMedica - Sekwencja Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Codziennie rano",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE status = 'contacted' AND replied = false AND followup_count < 3 AND email_sent_at < NOW() - INTERVAL '3 days' ORDER BY email_sent_at ASC LIMIT 20;",
        "options": {}
      },
      "id": "get-followup-leads",
      "name": "Pobierz do follow-up",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generuj różne wersje follow-up w zależności od numeru\nconst lead = $input.first().json;\nconst followupCount = lead.followup_count || 0;\n\nlet subject, body;\n\nswitch(followupCount) {\n  case 0:\n    // Pierwszy follow-up - przypomnienie\n    subject = 'Re: Darmowa publikacja ofert pracy - przypomnienie';\n    body = `\n      <p>Dzień dobry,</p>\n      <p>Piszę w nawiązaniu do mojego poprzedniego emaila dotyczącego <strong>bezpłatnej publikacji ofert pracy</strong> na platformie DlaMedica.pl.</p>\n      <p>Rozumiem, że są Państwo zajęci, ale chciałbym się upewnić, że moja wiadomość dotarła.</p>\n      <p>Krótkie przypomnienie korzyści:</p>\n      <ul>\n        <li>15 000+ aktywnych użytkowników - studentów i młodych lekarzy</li>\n        <li>Darmowa publikacja podstawowych ogłoszeń</li>\n        <li>Panel do zarządzania aplikacjami</li>\n      </ul>\n      <p>Czy mogę odpowiedzieć na jakiekolwiek pytania?</p>\n    `;\n    break;\n  \n  case 1:\n    // Drugi follow-up - wartość dodana\n    subject = 'Raport: Trendy rekrutacji w branży medycznej 2024';\n    body = `\n      <p>Dzień dobry,</p>\n      <p>Przygotowaliśmy krótki raport na temat <strong>trendów rekrutacji w branży medycznej</strong>, który może być dla Państwa przydatny.</p>\n      <p><strong>Kluczowe wnioski:</strong></p>\n      <ul>\n        <li>78% młodych lekarzy szuka pracy przez internet</li>\n        <li>Ogłoszenia ze szczegółowym opisem warunków otrzymują 3x więcej aplikacji</li>\n        <li>Najczęściej poszukiwane specjalizacje: interna, pediatria, POZ</li>\n      </ul>\n      <p>Chętnie podzielę się pełnym raportem - wystarczy odpowiedzieć na tego emaila.</p>\n      <p>Przy okazji przypominam o możliwości <strong>darmowej publikacji ofert pracy</strong> na DlaMedica.pl.</p>\n    `;\n    break;\n  \n  case 2:\n    // Trzeci follow-up - ostatnia szansa\n    subject = 'Ostatnie przypomnienie - współpraca DlaMedica.pl';\n    body = `\n      <p>Dzień dobry,</p>\n      <p>To moja ostatnia wiadomość w tej sprawie.</p>\n      <p>Jeśli temat rekrutacji personelu medycznego nie jest dla Państwa aktualnie priorytetem, rozumiem to w pełni.</p>\n      <p>Jeśli jednak kiedykolwiek będą Państwo potrzebować wsparcia w pozyskaniu:</p>\n      <ul>\n        <li>Lekarzy (wszystkie specjalizacje)</li>\n        <li>Pielęgniarek i położnych</li>\n        <li>Farmaceutów</li>\n        <li>Fizjoterapeutów</li>\n        <li>Techników medycznych</li>\n      </ul>\n      <p>Zapraszam do kontaktu. Nasze podstawowe usługi są <strong>całkowicie bezpłatne</strong>.</p>\n      <p>Życzę powodzenia!</p>\n    `;\n    break;\n}\n\nreturn [{\n  ...lead,\n  followupSubject: subject,\n  followupBody: body,\n  nextFollowupCount: followupCount + 1\n}];"
      },
      "id": "generate-followup",
      "name": "Generuj follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "fromEmail": "kontakt@dlamedica.pl",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.followupSubject }}",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n    ul { padding-left: 20px; }\n    li { margin: 8px 0; }\n    .signature { margin-top: 30px; padding-top: 20px; border-top: 1px solid #eee; }\n    .cta { display: inline-block; background: #38b6ff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  {{ $json.followupBody }}\n  \n  <p style=\"text-align: center;\">\n    <a href=\"https://dlamedica.pl/register?type=employer&ref=followup\" class=\"cta\">Zarejestruj się teraz</a>\n  </p>\n  \n  <div class=\"signature\">\n    <p>Z poważaniem,<br>\n    <strong>Zespół DlaMedica.pl</strong><br>\n    kontakt@dlamedica.pl</p>\n  </div>\n</body>\n</html>",
        "options": {
          "replyTo": "kontakt@dlamedica.pl"
        }
      },
      "id": "send-followup",
      "name": "Wyślij follow-up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 0],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "DlaMedica SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET followup_count = {{ $json.nextFollowupCount }}, last_followup_at = NOW() WHERE email = '{{ $json.email }}';",
        "options": {}
      },
      "id": "update-followup-count",
      "name": "Aktualizuj licznik",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-between-followups",
      "name": "Czekaj 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-processing",
      "name": "Przetwarzaj pojedynczo",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [220, 200]
    }
  ],
  "connections": {
    "Codziennie rano": {
      "main": [
        [
          {
            "node": "Pobierz do follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz do follow-up": {
      "main": [
        [
          {
            "node": "Przetwarzaj pojedynczo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przetwarzaj pojedynczo": {
      "main": [
        [
          {
            "node": "Generuj follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generuj follow-up": {
      "main": [
        [
          {
            "node": "Wyślij follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyślij follow-up": {
      "main": [
        [
          {
            "node": "Aktualizuj licznik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aktualizuj licznik": {
      "main": [
        [
          {
            "node": "Czekaj 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["followup", "email", "sequence"]
}
