n8n-workflows/7-leads-newsletter-integration.json
{
  "name": "DlaMedica - Integracja Leadów z Newsletterem",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "daily-sync-trigger",
      "name": "Codziennie o 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-lead-to-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-add-to-newsletter",
      "name": "Webhook: Dodaj do newslettera",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 400],
      "webhookId": "add-lead-newsletter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, company_name, facility_type, person_name, found_at FROM leads WHERE status NOT IN ('unsubscribed', 'bounced') AND email_sent = true AND (personalization_data->>'newsletter_subscribed')::boolean IS NOT TRUE ORDER BY found_at DESC LIMIT 100;",
        "options": {}
      },
      "id": "get-leads-for-newsletter",
      "name": "Pobierz leady do newslettera",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-emails",
      "name": "Filtruj poprawne emaile",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj dane do dodania do newslettera\nconst leads = $input.all();\n\nconst newsletterSubscribers = leads.map(lead => {\n  const data = lead.json;\n  \n  // Kategoryzuj według typu placówki dla segmentacji newslettera\n  let segment = 'general';\n  const facilityType = (data.facility_type || '').toLowerCase();\n  \n  if (facilityType.includes('szpital')) segment = 'hospitals';\n  else if (facilityType.includes('klinik')) segment = 'clinics';\n  else if (facilityType.includes('przychod')) segment = 'outpatient';\n  else if (facilityType.includes('apteka') || facilityType.includes('farmac')) segment = 'pharmacy';\n  else if (facilityType.includes('laborator')) segment = 'diagnostics';\n  else if (facilityType.includes('stomat') || facilityType.includes('dent')) segment = 'dental';\n  else if (facilityType.includes('rehabil') || facilityType.includes('fizjo')) segment = 'rehabilitation';\n  else if (facilityType.includes('gabinet')) segment = 'private_practice';\n  else if (facilityType.includes('centrum')) segment = 'medical_centers';\n  else if (facilityType.includes('opieki') || facilityType.includes('senior')) segment = 'long_term_care';\n  \n  return {\n    lead_id: data.id,\n    email: data.email,\n    company_name: data.company_name || '',\n    person_name: data.person_name || '',\n    facility_type: data.facility_type || 'placówka medyczna',\n    segment: segment,\n    source: 'lead_acquisition',\n    subscribed_at: new Date().toISOString(),\n    tags: ['employer', 'lead', segment, 'job-posting-interested']\n  };\n});\n\nconsole.log(`Przygotowano ${newsletterSubscribers.length} leadów do newslettera`);\n\nreturn newsletterSubscribers.map(s => ({ json: s }));"
      },
      "id": "prepare-newsletter-data",
      "name": "Przygotuj dane newslettera",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dlamedica.pl/api/newsletter/subscribe",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.headerAuth.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"name\": \"{{ $json.person_name || $json.company_name }}\",\n  \"company\": \"{{ $json.company_name }}\",\n  \"segment\": \"{{ $json.segment }}\",\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"source\": \"lead_acquisition\",\n  \"metadata\": {\n    \"lead_id\": {{ $json.lead_id }},\n    \"facility_type\": \"{{ $json.facility_type }}\"\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "add-to-newsletter-api",
      "name": "Dodaj do newslettera (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "DlaMedica API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET personalization_data = COALESCE(personalization_data, '{}'::jsonb) || '{\"newsletter_subscribed\": true, \"newsletter_subscribed_at\": \"{{ $now.toISO() }}\", \"newsletter_segment\": \"{{ $json.segment }}\"}'::jsonb WHERE id = {{ $json.lead_id }};",
        "options": {}
      },
      "id": "mark-as-subscribed",
      "name": "Oznacz jako subskrybent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1100, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Podsumowanie synchronizacji\nconst items = $input.all();\n\nconst summary = {\n  total_synced: items.length,\n  timestamp: new Date().toISOString(),\n  message: `Zsynchronizowano ${items.length} leadów z newsletterem`\n};\n\nconsole.log('=== PODSUMOWANIE SYNC Z NEWSLETTEREM ===');\nconsole.log(summary.message);\n\nreturn [{ json: summary }];"
      },
      "id": "sync-summary",
      "name": "Podsumowanie sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "// Przetwórz dane z webhooka\nconst input = $input.first().json;\n\n// Walidacja\nif (!input.email) {\n  throw new Error('Email jest wymagany');\n}\n\nconst leadData = {\n  email: input.email,\n  company_name: input.company_name || input.companyName || '',\n  person_name: input.person_name || input.personName || '',\n  facility_type: input.facility_type || input.facilityType || 'placówka medyczna',\n  source: input.source || 'webhook',\n  add_to_newsletter: input.add_to_newsletter !== false, // domyślnie true\n  tags: input.tags || ['manual-add']\n};\n\nreturn [{ json: leadData }];"
      },
      "id": "process-webhook",
      "name": "Przetwórz webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (email, company_name, person_name, facility_type, source, status, personalization_data) VALUES ('{{ $json.email }}', '{{ $json.company_name }}', '{{ $json.person_name }}', '{{ $json.facility_type }}', '{{ $json.source }}', 'new', '{\"newsletter_subscribed\": {{ $json.add_to_newsletter }}, \"added_via\": \"webhook\"}'::jsonb) ON CONFLICT (email) DO UPDATE SET company_name = COALESCE(NULLIF('{{ $json.company_name }}', ''), leads.company_name), facility_type = COALESCE(NULLIF('{{ $json.facility_type }}', ''), leads.facility_type), personalization_data = leads.personalization_data || '{\"newsletter_subscribed\": {{ $json.add_to_newsletter }}}'::jsonb, updated_at = NOW() RETURNING *;",
        "options": {}
      },
      "id": "save-webhook-lead",
      "name": "Zapisz lead z webhooka",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [440, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-newsletter",
              "leftValue": "={{ $('Przetwórz webhook').first().json.add_to_newsletter }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-add-newsletter",
      "name": "Czy dodać do newslettera?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj dane do newslettera z webhooka\nconst lead = $input.first().json;\nconst webhookData = $('Przetwórz webhook').first().json;\n\nlet segment = 'general';\nconst facilityType = (webhookData.facility_type || '').toLowerCase();\n\nif (facilityType.includes('szpital')) segment = 'hospitals';\nelse if (facilityType.includes('klinik')) segment = 'clinics';\nelse if (facilityType.includes('przychod')) segment = 'outpatient';\nelse if (facilityType.includes('apteka') || facilityType.includes('farmac')) segment = 'pharmacy';\nelse if (facilityType.includes('laborator')) segment = 'diagnostics';\nelse if (facilityType.includes('stomat') || facilityType.includes('dent')) segment = 'dental';\nelse if (facilityType.includes('rehabil') || facilityType.includes('fizjo')) segment = 'rehabilitation';\nelse if (facilityType.includes('gabinet')) segment = 'private_practice';\nelse if (facilityType.includes('centrum')) segment = 'medical_centers';\n\nreturn [{\n  json: {\n    lead_id: lead.id,\n    email: webhookData.email,\n    company_name: webhookData.company_name,\n    person_name: webhookData.person_name,\n    facility_type: webhookData.facility_type,\n    segment: segment,\n    tags: [...(webhookData.tags || []), segment, 'employer']\n  }\n}];"
      },
      "id": "prepare-webhook-newsletter",
      "name": "Przygotuj newsletter z webhooka",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dlamedica.pl/api/newsletter/subscribe",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.headerAuth.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"name\": \"{{ $json.person_name || $json.company_name }}\",\n  \"company\": \"{{ $json.company_name }}\",\n  \"segment\": \"{{ $json.segment }}\",\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"source\": \"webhook_lead\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "webhook-add-newsletter-api",
      "name": "Dodaj z webhooka do newslettera",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "DlaMedica API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Lead dodany pomyślnie\",\n  \"lead_id\": {{ $('Zapisz lead z webhooka').first().json.id }},\n  \"newsletter_added\": {{ $('Przetwórz webhook').first().json.add_to_newsletter }}\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Odpowiedź webhooka",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "newsletter-leads-stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stats",
      "name": "Webhook: Statystyki",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 700],
      "webhookId": "newsletter-leads-stats"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_leads, COUNT(*) FILTER (WHERE (personalization_data->>'newsletter_subscribed')::boolean = true) as newsletter_subscribers, COUNT(*) FILTER (WHERE email_sent = true) as contacted_leads, COUNT(*) FILTER (WHERE status = 'converted') as conversions, jsonb_object_agg(COALESCE(facility_type, 'inne'), cnt) as by_facility FROM (SELECT facility_type, COUNT(*) as cnt FROM leads WHERE (personalization_data->>'newsletter_subscribed')::boolean = true GROUP BY facility_type) sub, (SELECT COUNT(*) as total_leads FROM leads) t1, (SELECT COUNT(*) FILTER (WHERE (personalization_data->>'newsletter_subscribed')::boolean = true) as newsletter_subscribers FROM leads) t2, (SELECT COUNT(*) FILTER (WHERE email_sent = true) as contacted_leads FROM leads) t3, (SELECT COUNT(*) FILTER (WHERE status = 'converted') as conversions FROM leads) t4;",
        "options": {}
      },
      "id": "get-newsletter-stats",
      "name": "Pobierz statystyki",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [220, 700],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "DlaMedica PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "stats-response",
      "name": "Odpowiedź ze statystykami",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 700]
    }
  ],
  "connections": {
    "Codziennie o 10:00": {
      "main": [
        [
          {
            "node": "Pobierz leady do newslettera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz leady do newslettera": {
      "main": [
        [
          {
            "node": "Filtruj poprawne emaile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtruj poprawne emaile": {
      "main": [
        [
          {
            "node": "Przygotuj dane newslettera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj dane newslettera": {
      "main": [
        [
          {
            "node": "Dodaj do newslettera (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dodaj do newslettera (API)": {
      "main": [
        [
          {
            "node": "Oznacz jako subskrybent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oznacz jako subskrybent": {
      "main": [
        [
          {
            "node": "Podsumowanie sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Dodaj do newslettera": {
      "main": [
        [
          {
            "node": "Przetwórz webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przetwórz webhook": {
      "main": [
        [
          {
            "node": "Zapisz lead z webhooka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapisz lead z webhooka": {
      "main": [
        [
          {
            "node": "Czy dodać do newslettera?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odpowiedź webhooka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy dodać do newslettera?": {
      "main": [
        [
          {
            "node": "Przygotuj newsletter z webhooka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj newsletter z webhooka": {
      "main": [
        [
          {
            "node": "Dodaj z webhooka do newslettera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Statystyki": {
      "main": [
        [
          {
            "node": "Pobierz statystyki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz statystyki": {
      "main": [
        [
          {
            "node": "Odpowiedź ze statystykami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["newsletter", "leads", "integration", "sync"]
}
